.block-cpu-or-player {
	width: 300px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.button-cpu-or-player {
	margin-top: 15px;
	background-color: aqua;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border-color: white;
	padding: 2px;
	box-shadow: inset 0px -5px 0px 0px rgba(173, 173, 173, 0.5);

}

.button-cpu-or-player:focus {
	background-color: rgb(255, 189, 67);
}