.block-cpu-or-player{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
flex-direction: column;
}

.button-cpu{
background-color: aqua ;
width: 250px;
height: 40px;
border-radius: 10px;
border-color: white;
padding: 2px;
box-shadow: inset 0px -5px 0px 0px rgba(173, 173, 173, 0.5);

}
.button-cpu:focus{
background-color: rgb(255, 189, 67) ;
    }

.button-player{
background-color: aqua ;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-color: white;
    padding: 2px;
    box-shadow: inset 0px -5px 0px 0px rgba(173, 173, 173, 0.5);
    }
    .button-player:focus{
background-color: rgb(255, 189, 67) ;
        }